@import "reset";

.wrapper {
  width: 1519px;
  margin: 0 auto;
}

header {
  width: 1519px;
  margin: 0 auto;
  overflow: hidden;
}

.top {
  background-color: #fff;
  font-family: kan415typos-std, sans-serif;
  font-weight: 700;
  font-style: normal;

}

//ウィンドウ背景色の設定
body {
  width: 100%;
  background-color: #fff;
}

//ロゴの設定
.logo {
  color: #000;
  padding-left: 0px;
  width: 130px;
  height: 130px
}

.wsslogo {
  position: fixed;
  right: 0;
}

//大見出しの設定
.English {
  float: left;
  margin-top: 50px;
  padding-left: 200px;


}

.the {
  font-size: 80px;
  font-weight: bold;
  padding-left: 50px;
}

.next {
  font-size: 80px;
  font-weight: bold;
  padding-left: 80px;
}

.step {
  font-size: 80px;
  font-weight: bold;
  padding-left: 130px;
}

.you {
  font-size: 80px;
  font-weight: bold;
  padding-left: 180px;
}

.sapporo {
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}

//TOP画像の設定
.topimage {
  width: 350px;
  height: 500px;
  float: right;
  padding-right: 250px;
}


//01　メインの設定
.main {
  width: 1519px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 70px;
  position: relative;


  .bgfont {
    color: #f4f4f4;
    font-size: 150px;
    margin-top: 290px;
    position: absolute;
    left: 60%;
    transform: translateX(-50%);
    right: 0;
    z-index: -5;
    width: 1450px;
  }

  .aboutus {
    box-sizing: border-box;
    line-height: 40px;
    width: 601px;
    height: 761px;
    border: 1px #000 solid;
    padding: 100px;
    float: left;
    margin-left: 130px;

  }

  .head01 {
    font-family: kozuka-gothic-pr6n, sans-serif;
    font-weight: 700;
    font-style: normal;


    dt {
      clear: both;
      font-size: 36px;
      margin-bottom: 50px;
      font-style: italic;
    }

    dd {
      font-size: 20px;
      font-style: bold;

    }
  }

}




.image01 {
  overflow: hidden;
  height: 1000px;
  position: relative;
  top: 430px;
  left: -100px;
}

//02 WSS項目の設定
.WSS {
  clear: both;
  margin: 0 auto;
  margin-top: 5px;
  overflow: hidden;
  background-image: url("../images/black-blue-computer-keyboard-lightweight.png");
  height: 1013px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: kozuka-gothic-pr6n, sans-serif;
  font-weight: 700;
  font-style: normal;

  .box02-1 {
    box-sizing: border-box;
    line-height: 40px;
    width: 1140px;
    height: 638px;
    background-color: #fff;
    padding: 80px;

    .writing02 {


      dt {
        font-size: 36px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 50px;
        font-style: italic;
      }

      dd {
        font-size: 36px;
        margin-bottom: 50px;
        margin-left: 80px;
        font-style: italic;
      }

    }

    p {
      margin-left: 50px;
      font-size: 20px;
      font-style: bold;
      font-family: kozuka-gothic-pr6n, sans-serif;
      font-weight: 700;
      font-style: normal;
    }

    .more-hover {
      font-size: 30px;
      text-align: center;
      box-sizing: border-box;
      width: 205px;
      height: 75px;
      border: 1px #000 solid;
      float: right;
      margin-top: 50px;

      a {
        line-height: 75px;
        display: block;
        color: #000;
        text-decoration: none;
        transition: all 0.5s;
      }

      a:hover {
        color: #fff;
        background-color: #000;
      }
    }

    .more-hover:hover {
      border: none;
    }

  }
}




//03 company historyの設定
.history {
  clear: both;
  width: 1419px;
  height: 950px;
  margin: 0 auto;
  overflow: hidden;
  font-style: bold;
  

  .bgfont2 {
    color: #f4f4f4;
    width: 1430px;
    font-size: 110px;
    line-height: 175px;
    margin-top: 60px;
    text-align: left;
    margin-left: 30px;
    position: absolute;
    z-index: -1
  }

  .writing03 {
    font-family: kozuka-gothic-pr6n, sans-serif;
    font-weight: 700;
      font-style: normal;
    dt {
      font-size: 36px;
      margin-top: 100px;
      margin-left: 450px;
      font-style: italic;
    }

    dd {
      font-size: 36px;
      margin-top: 20px;
      text-align: center;
      font-style: italic;
    }
  }

  .year-list {
    font-size: 24px;
    float: left;
    margin-left: 50px;
    line-height: 40px;
    margin-top: 40px;
    font-family: kozuka-gothic-pr6n, sans-serif;
    font-weight: 700;
    font-style: normal;


    dd {
      margin-left: 85px;
    }
  }

  .development {
    margin-top: 30px;
    width: 750px;
    clear: both;
    font-size: 20px;
    float: right;
    margin-right: 50px;
    line-height: 40px;
    font-family: kozuka-gothic-pr6n, sans-serif;
    font-weight: 700;
    font-style: normal;

  }
}

//04 Company Profileの設定
.company-profile {
  clear: both;
  width: 1519px;
  height: 2095px;
  background-color: #000;
  color: #fff;
  margin: 0 auto;
  overflow: hidden;
  font-family: kozuka-gothic-pr6n, sans-serif;
  font-weight: 700;
  font-style: normal;

  .writing04 {
    h2 {
      font-size: 36px;
      margin-top: 100px;
      margin-left: 340px;
      font-style: italic;
    }

    h3 {
      font-size: 36px;
      margin-top: 20px;
      text-align: center;
      font-style: italic;
    }
  }

  .infomation {
    float: left;
    margin-left: 200px;
    font-size: 24px;
    margin-top: 210px;
  }

  .image04 {
    float: right;
    margin-top: 260px;
    margin-right: 290px;
  }

  .address {
    margin-top: 10px;
  }

  .address2 {
    margin-left: 50px;
    margin-top: 20px;
  }

  .telephone {
    margin-top: 50px;

  }

  .phonenumber {
    margin-left: 50px;
    margin-top: 20px;
  }

  .mail {
    margin-top: 50px;
  }

  .mailaddress {
    margin-left: 50px;
    margin-top: 20px;
  }

  .business {
    margin-top: 50px;
  }

  .task {
    margin-left: 50px;
    margin-top: 20px;
  }

  .headoffice {
    margin-top: 50px;
  }

  .link-tokyo {
    margin-left: 50px;
    margin-top: 20px;

  }



  .tokyo {
    text-decoration: none;
    color: #fff;
  }

  .tokyo:hover {
    text-decoration: underline;

  }

  .map {
    clear: both;
    padding-top: 100px;
    text-align: center;
  }

}

//フッターの設定
.footer {
  clear: both;
  width: 1519px;
  height: 550px;
  margin: 0 auto;
  overflow: hidden;
  font-family: kozuka-gothic-pr6n, sans-serif;
  font-weight: 700;
  font-style: normal;


  .nextone {
    font-size: 20px;
    float: right;
    margin-top: 105px;
    margin-right: 45px;
    line-height: 40px;
    font-style: italic;
  }

  .SNSicon {
    width: 250px;
    clear: both;
    float: right;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-right: 100px;

  }

  .footermenu {
    font-size: 24px;
    font-style: italic;
    text-decoration: none;
    color: #000;


  }

  .footermenu:hover {
    text-decoration: underline;
    color: #000;

  }

  .footer2 {
    padding-top: 300px;
    padding-left: 40px;

  }

  .privacy {
    clear: both;
    float: right;
    padding-top: 40px;
    padding-right: 100px;
    font-size: 20px;

  }

  .p-hover {
    text-decoration: none;
    color: #000;
  }

  .p-hover:hover {
    text-decoration: underline;
    color: #000;
  }

  .copyright {
    clear: both;
    float: left;
    font-size: 18px;
    padding-top: 30px;
    padding-left: 40px;
    font-style: italic;
  }
}