@import "reset";

.wrapper {
  width: 1519px;
  margin: 0 auto;

}

header {
  width: 1519px;
  margin: 0 auto;
  overflow: hidden;
}

.top {
  background-color: #fff;
  font-family: kan415typos-std, sans-serif;
}

//ウィンドウ背景色の設定
body {
  width: 100%;
  background-color: #fff;
}

//ロゴの設定
.logo {
  color: #000;
  padding-left: 0px;
  width: 130px;
  height: 130px
}

.wsslogo {
  position: fixed;
  right: 0;
}

//大見出しの設定
.English {
  float: left;
  margin-top: 50px;
  padding-left: 200px;
}

.the {
  font-size: 80px;
  font-weight: bold;
  padding-left: 50px;
}

.next {
  font-size: 80px;
  font-weight: bold;
  padding-left: 80px;
}

.step {
  font-size: 80px;
  font-weight: bold;
  padding-left: 130px;
}

.you {
  font-size: 80px;
  font-weight: bold;
  padding-left: 180px;
}

.sapporo {
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}

//TOP画像の設定
.topimage {
  width: 350px;
  height: 500px;
  float: right;
  padding-right: 250px;
}


//privacy-philosophyの設定
.privacy-philosophy {
  clear: both;
  width: 1170px;
  margin: 0 auto;
  margin-top: 240px;
  line-height: 35px;
  overflow: hidden;
  font-size: 20px;
  font-family: 'Noto Sans JP', sans-serif;

  dt {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Ramabhadra', sans-serif;
  }

  dd {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
  }
}



//privacy-handlingの設定
.privacy-handling {
  clear: both;
  width: 1170px;
  margin: 0 auto;
  margin-top: 230px;
  line-height: 35px;
  overflow: hidden;
  font-size: 20px;
  font-family: 'Noto Sans JP', sans-serif;

  .heading02 {
    font-weight: bold;
    text-align: center;

    .policy-head02 {
      font-size: 45px;
      margin-bottom: 50px;
      font-family: 'Ramabhadra', sans-serif;
    }

    .policy-sub02 {
      font-size: 25px;
      margin-bottom: 40px;
    }

  }

  .policy-rule01 {
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
  }

  .enactment {
    text-align: center;
    margin-top: 60px;
  }


}



//privacy-policyの設定
.privacy-policy {
  clear: both;
  width: 1170px;
  margin: 0 auto;
  margin-top: 120px;
  line-height: 35px;
  overflow: hidden;
  font-size: 20px;
  font-family: 'Noto Sans JP', sans-serif;

  .heading03 {
    font-weight: bold;
    text-align: center;

    .policy-head03 {
      font-size: 45px;
      margin-bottom: 50px;
      font-family: 'Ramabhadra', sans-serif;
    }

    .policy-sub03 {
      font-size: 25px;
      margin-bottom: 40px;
    }
  }

  p {
    text-align: center;
  }

  .policy-rule02 {
    margin-top: 70px;
    margin-bottom: 70px;
    font-weight: bold;
    text-align: center;
  }

  .hellowork {
    font-weight: bold;
  }

  dt {
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
  }

  dd {
    margin-top: 20px;
    text-align: center;
  }
}

//privacy-thirdpartyの設定
.privacy-thirdparty {
  clear: both;
  width: 1170px;
  margin: 0 auto;
  margin-top: 120px;
  line-height: 35px;
  overflow: hidden;
  font-size: 20px;
  font-family: 'Noto Sans JP', sans-serif;

  .heading04 {
    font-weight: bold;
    text-align: center;

    .policy-head04 {
      font-size: 45px;
      margin-bottom: 50px;
      font-family: 'Ramabhadra', sans-serif;
    }

    .policy-sub04 {
      font-size: 25px;
      margin-bottom: 40px;
    }
  }
}

//privacy-disclosureの設定
.privacy-disclosure {
  clear: both;
  width: 1170px;
  margin: 0 auto;
  margin-top: 120px;
  line-height: 35px;
  overflow: hidden;
  font-size: 20px;
  font-family: 'Noto Sans JP', sans-serif;

  .heading05 {
    font-weight: bold;
    text-align: center;

    .policy-head05 {
      font-size: 45px;
      margin-bottom: 50px;
      font-family: 'Ramabhadra', sans-serif;
    }

    .policy-sub05 {
      font-size: 25px;
      margin-bottom: 40px;
    }
  }

  p {
    text-align: center;
    margin-bottom: 50px;
  }

  .claim01 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
  }

  .claim02 {

    .claim02-2 {
      font-weight: bold;
      margin-top: 30px;
      margin-bottom: 30px;

    }

    dd {
      font-weight: normal;
      margin-top: 15px;
      margin-bottom: 15px;
    }


  }


}




//informationの設定
.information {
  clear: both;
  width: 1170px;
  margin: 0 auto;
  margin-top: 120px;
  line-height: 35px;
  text-align: center;
  overflow: hidden;
  font-size: 20px;
  font-family: 'Noto Sans JP', sans-serif;

  .heading06 {

    font-weight: bold;
    text-align: center;

    .policy-head06 {
      font-size: 45px;
      margin-bottom: 50px;
      font-family: 'Ramabhadra', sans-serif;
    }
  }

  .info {
    margin-top: 50px;
    font-weight: bold;
  }


}

//offerの設定
.offer {
  clear: both;
  width: 1170px;
  margin: 0 auto;
  margin-top: 120px;
  line-height: 35px;
  overflow: hidden;
  font-size: 20px;
  font-family: 'Noto Sans JP', sans-serif;

  .heading07 {
    font-weight: bold;
    text-align: center;

    .policy-head07 {
      font-size: 45px;
      margin-bottom: 50px;
      font-family: 'Ramabhadra', sans-serif;
    }

    .policy-sub07 {
      font-size: 25px;
      margin-bottom: 40px;
    }
  }

  p {
    text-align: center;
  }

  .complaint {
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
  }

  dd {
    text-align: center;
  }
}


//フッターの設定
.footer {
  clear: both;
  width: 1519px;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
  font-family: kozuka-gothic-pr6n, sans-serif;
  font-weight: 700;
  font-style: normal;


  .nextone {
    font-size: 20px;
    float: right;
    margin-top: 105px;
    margin-right: 45px;
    line-height: 40px;
    font-style: italic;
  }

  .SNSicon {
    width: 250px;
    clear: both;
    float: right;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-right: 100px;

  }

  .more-hover {
    clear: both;
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
    width: 205px;
    height: 75px;
    border: 1px #000 solid;
    margin-top: 50px;

    a {
      line-height: 75px;
      display: block;
      color: #000;
      text-decoration: none;
      transition: all 0.5s;
    }

    a:hover {
      color: #fff;
      background-color: #000;
    }
  }

  .more-hover:hover {
    border: none;
  }

}

.privacy {
  clear: both;
  float: right;
  padding-top: 40px;
  padding-right: 100px;
  font-size: 20px;

}

.p-hover {
  text-decoration: none;
  color: #000;
}

.p-hover:hover {
  text-decoration: underline;
  color: #000;
}

.copyright {
  clear: both;
  float: left;
  font-size: 18px;
  padding-top: 30px;
  padding-left: 40px;
  font-style: italic;
}